export YC_TOKEN="Add your iam token"
export YC_CLOUD_ID="Add your cloud-id"
export YC_FOLDER_ID="Add your folder-id"
export AWS_ACCESS_KEY_ID="Add your ACCESS_KEY" # For s3 state
export AWS_SECRET_ACCESS_KEY="Add you SECRET_KEY" # For s3 state